@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  /*font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif*/

  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;

  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.25s;
}

a:hover {
  /*ホバー時の文字アクション設定*/
  opacity: 0.75;
  /*color: #ff8800; */
}

ul {
  /*左の「・」を消す*/
  list-style: none;
  width: fit-content;
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
  width: 100%;
}

body {
  background: #e8d9bf;
}

/*-------------------ヘッダー--------------------*/

header {
  position: relative; /*相対 親要素ヘッダー内を基準に指定*/
  width: 100%;
}

.header_logo {
  width: 226px;
}

.header_wrap {
  display: flex;
  justify-content: space-between; /*左右揃える*/
  align-items: center; /*上下中央に揃える*/
  padding: 0% 7% 0% 3%;
  position: absolute; /*絶対 今回は親要素relative指定のためヘッダー内で絶対的に指定
  また、横幅が指定したdivから浮いた状態になるため再指定必須*/
  top: 0;
  left: 0;
  width: 100%; /*再指定*/
  box-sizing: border-box; /*上記の影響で、padding指定した子要素がはみ出るため、含めた指定が必要*/
}

.pc_nav ul {
  display: flex;
  gap: 54px;
}

.pc_nav ul li {
  color: #fff;
  width: 105px;
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/*----------------GALLERYまで-------------------*/

.content_width {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
  /* padding: 0 459px 0 453px; 　ミス*/
}

/*----------------メインコピー-------------------*/

.main_copy {
  max-width: 960px;

  text-align: center;
  padding: 104px 0 93px 0;
}

.english {
  padding: 0 0 47px 0;
  font-feature-settings: "palt"; /*メトリクス*/
}

#happy {
  font-size: 82px;
  line-height: 96px;
  font-feature-settings: "palt"; /*メトリクス*/
  letter-spacing: 0.1em; /*トラッキング*/
  padding-bottom: 50px;
}

.english {
  font-size: 30px;
}
.concept {
  font-size: 23px;
  line-height: 38px;
  letter-spacing: 0.1em;
  font-feature-settings: "palt"; /*メトリクス*/
}

/* ------------------ABOUT US------------------- */

.about_us {
  display: flex;
  justify-content: space-between;
  padding: 0 0 96px 0;
  max-width: 1000px;
}
.about_us_main {
  width: 50%;
}

.about_us_main img {
  border-radius: 0 0 82px 0; /* 角を丸くする */
}

.about_us_content {
  width: 41%;
}

.about_us h2 img {
  padding-top: 46px; /*150-104=46 上のpadding分を引く*/
  width: 272px;
}

#main_copy2 {
  font-size: 44px;
  font-feature-settings: "palt"; /*メトリクス*/
  line-height: 61px;
  padding: 48px 0 23px 0;
}
.about_us p {
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "palt"; /*メトリクス*/
  text-align: justify; /* 均等配置 */
  text-align-last: left; /* 最終行を左揃え */
}

/* ------------------MENU----------------------- */

.menu img {
  width: 151px;
}

#menu_items {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 39px 0 84px 0;
}

.menu h2 {
  text-align: center;
}

.items_list img {
  width: 100%;
  border-radius: 0 42px 0 0; /* 角を丸くする */
}

.items_list {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.items_list h3 {
  font-size: 38px;
  font-weight: normal;
  color: #d30202;
  margin: -9px 0 9px 0.4em;
  /* line-height: 0.7em; */
}

.items_list p {
  font-weight: normal;
  letter-spacing: -0.05em;
  font-size: 17px;
}

/*-------------------GALLERY----------------------*/

.gallery {
  padding: 0 10px 0 10px;
}

.gallery h2 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 17px 0;
  width: 245px;
}

.gallery_items {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* overflow-x: auto; */
}

.gallery_items img {
  width: 20%;
}

/*-------------------EVENT-----------------------*/

.event {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 0 10px 0 10px;
}

.event_items {
  border: 3px solid #4f260b;
  padding: 38px 0 37px 0;

  background-color: #fff;
  margin: 0 auto; /* 上下に余白、 中央揃え */
}

.event h2 {
  width: 174px;
  padding: 59px 0 29px 0;
  margin: 0 auto;
  text-align: center;
}

.event_list li {
  display: flex;
  font-size: 23px;
  margin-bottom: 23px; /* 各項目の間隔 */
}

li:last-child {
  margin-bottom: 0; /* 最後の項目だけ間隔をなくす */
}

.date {
  padding-right: 47px; /*日付との間隔 */
}

.list-content {
  white-space: nowrap; /*nowrapで折り返しなし*/
  /*letter-spacing: -0.1em; /* 文字間を狭める　メトリクスに対応 */
  border-bottom: 1px solid #4f260b;
  display: inline-block;
  padding-bottom: 2px;
}

/*-------------------ACCESS MAP-------------------*/

.access_map_items h2 {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.access_map iframe {
  display: block;
  width: 100%;
  height: 470px;
}

.access_map img {
  width: 214px;
  padding: 68px 0 37px 0;
}

/*-------------------FOOTER----------------------*/

.footer {
  background-color: #fff;
  height: 393px;
  font-size: 20px;
  padding: 0 10px 0 10px;
}

.footer_content {
  max-width: 1000px;
  width: 100%;

  display: flex;
  /* justify-content: flex-start; */
  margin: 0 auto;
}

.footer_logo {
  padding: 74px 65px 0 0;
  width: 227px;
}

.footer_items {
  padding-top: 78px;
  font-feature-settings: "palt"; /*メトリクス*/
}

.footer_items p {
  line-height: 39px;
}

#CAFE {
  position: relative;
  /* bottom: 50px; */
  top: 74px;
  left: 124px;
  font-size: 16px;
  line-height: 35px;
}

/*-------------------PAGE TOP----------------------*/

.page_top {
  width: 125px;
  position: fixed; /*固定位置に*/
  bottom: 80px; /*下からの距離 */
  right: 120px; /*右からの距離 */
  cursor: pointer;
}

/* .page_top img {
  width: 125px;
} */

/* -----------------スマホ版をPCの時に非表示---------------------*/

.sp_nav {
  display: none;
}

.concept_sp {
  display: none;
}

.main_copy_sp {
  display: none;
}
.footer_content_sp {
  display: none;
}

.about_us_main_sp {
  display: none;
}

.gallery_items_sp {
  display: none;
}

/* -----------------★スマホハンバーガーメニュー---------------------*/

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }

  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    top: 20px;
    left: 25px;
    z-index: 2; /*positionが指定されてるものに適用可能 数字は順位がつけられれば良い任意*/
  }

  .sp_btn span {
    /*親要素*/
    display: block;
    width: 33px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    /* 位置の調整 */
    position: relative;
    top: 10px;
    transition: 0.3s;
  }

  .sp_btn span::before, /*2つの子要素*/
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    /*位置の調整*/
    position: absolute;
    transition: 0.3s;
  }

  .sp_btn span::before {
    bottom: 10px;
  }

  .sp_btn span::after {
    top: 10px;
  }
}

.sp_btn.open span {
  background-color: transparent;
}

.sp_btn.open span::before {
  bottom: 0; /*指定した位置を真ん中に戻す*/
  transform: rotate(45deg);
}

.sp_btn.open span::after {
  top: 0; /*指定した位置を真ん中に戻す*/
  transform: rotate(-45deg); /*135もOK*/
}

.sp_nav {
  position: absolute; /*ここの指定で一層浮くから※注意*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /*最後のaはαで透過度80%*/
  z-index: 1; /*positionが指定されてるものに適用可能*/
}

.sp_nav ul {
  display: flex;
  flex-direction: column; /*縦並びに*/
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px; /*justify-contentなどの場合で使い、並び順の間隔を調節できるもの*/
}

.sp_nav ul li {
  color: #fff;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #fff;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/*----------------★スマホ767px以下表示★-------------------*/

@media screen and (max-width: 767px) {
  .pc_nav {
    display: none;
  }

  /*----------------スマホGALLERYまで-------------------*/

  .content_width {
    max-width: 767px;
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
    padding: 0px;
  }

  /*----------------スマホメインコピー-------------------*/

  .main_copy {
    max-width: 767px;

    text-align: center;
    padding: 41px 0 54px 0;
  }

  .english {
    padding: 0 0 21px 0;
    font-feature-settings: "palt"; /*メトリクス*/
  }

  #happy {
    font-size: 38px;
    line-height: 44px;
    font-feature-settings: "palt"; /*メトリクス*/
    letter-spacing: 0.02em; /*トラッキング*/
    padding-bottom: 13px;
  }

  .english {
    font-size: 17px;
  }

  .concept {
    display: none;
  }
  .concept_sp {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.1em;
    font-feature-settings: "palt"; /*メトリクス*/
  }

  /*-------------------スマホabout-----------------------*/

  .about_us_main {
    display: none;
  }

  .about_us {
    flex-direction: column;
  }

  .about_us_main_sp {
    display: block;
    width: 100%;
  }

  /* ------------------スマホMENU----------------------- */

  #menu_items {
    max-width: 767px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 39px 0 84px 0;
    gap: 55px;
  }

  .menu img {
    width: 23%;
  }

  .menu h2 {
    text-align: center;
  }

  .items_list img {
    width: 100%;
    border-radius: 0 42px 0 0; /* 角を丸くする */
  }

  .items_list {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .items_list h3 {
    font-size: 40px;
    font-weight: normal;
    color: #d30202;
    margin: -9px 0 18px 0.4em;
    /* line-height: 0.7em; */
  }

  .items_list p {
    font-weight: normal;
    letter-spacing: -0.05em;
    font-size: 17px;
  }

  /*-------------------スマホGALLERY-----------------------*/
  .gallery {
    max-width: 767px;
  }

  .gallery_items {
    display: none;
  }

  .gallery_items_sp img {
    width: 100%;
  }

  /* .gallery_items {
    flex: 1 1 calc(50% - 10px);
  }
  .gallery_items:nth-child(n + 3) {
    display: none;
  } */

  /*-------------------スマホEVENT-----------------------*/

  .event {
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    /* padding: 0px; */
  }

  /* width: 767px; */

  .event_list li {
    padding-left: 28px;
    padding-right: 9px;
    flex-direction: column;
    align-items: flex-start;
    /* width: 78%; */
  }

  .list-content {
    width: 78%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /*-------------------スマホACCESS----------------------*/

  .access_map {
    max-width: 767px;
  }

  .access_map_items h2 {
    margin: 0 auto;
    text-align: center;
    width: 33%;
  }

  .access_map img {
    padding: 26px 0 5px 0;
  }

  .access_map iframe {
    display: block;
    width: 100%;
    height: 191px;
  }

  /*-------------------スマホFOOTER----------------------*/

  .footer_content {
    display: none;
  }

  .footer {
    padding-left: 20px;
    padding-right: 0px;
  }

  .footer_content_sp {
    max-width: 767px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* margin: 0 auto; */
    height: 322px;
  }

  .footer_logo_sp {
    padding: 41px 128px 0 0;
    text-align: center;
    width: 277px;
  }

  .footer_items_sp {
    padding-top: 28px;
    font-feature-settings: "palt"; /*メトリクス*/
  }

  .footer_items_sp p {
    line-height: 30px;
  }

  #CAFE_sp {
    bottom: 0px;
    text-align: center;
    font-size: 18px;
  }
}
