@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  /*font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif*/

  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.25s;
}

a:hover {
  /*ホバー時の文字アクション設定*/
  opacity: 0.75;
  /*color: #ff8800; */
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

body {
  background: #e8d9bf;
}

/*-------------------ヘッダー--------------------*/

header {
  position: relative; /*相対 親要素ヘッダー内を基準に指定*/
}

.header_logo {
  width: 226px;
}

.header_wrap {
  display: flex;
  justify-content: space-between; /*左右揃える*/
  align-items: center; /*上下中央に揃える*/
  padding: 0% 7% 0% 3%;
  position: absolute; /*絶対 今回は親要素relative指定のためヘッダー内で絶対的に指定
  また、横幅が指定したdivから浮いた状態になるため再指定必須*/
  top: 0;
  left: 0;
  width: 100%; /*再指定*/
  box-sizing: border-box; /*上記の影響で、padding指定した子要素がはみ出るため、含めた指定が必要*/
}

.pc_nav ul {
  display: flex;
  gap: 54px;
}

.pc_nav ul li {
  color: #fff;
  width: 105px;
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/*----------------GALLERYまで-------------------*/

.content_width {
  width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 0 459px 0 453px;
}

/*----------------メインコピー-------------------*/

.main_copy {
  max-width: 960px;

  text-align: center;
  padding: 104px 0 93px 0;
}

.english {
  padding: 0 0 47px 0;
}
.main_copy h1 {
  font-size: 82px;
  line-height: 1.3em;
  padding-bottom: 50px;
}

.english {
  font-size: 30px;
}
.concept {
  font-size: 23px;
}

/* ------------------ABOUT US------------------- */

.about_us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 96px 0;
}
.about_us_main img {
  width: 500px;
  border-radius: 0 0 82px 0; /* 角を丸くする */
}
.about_us h2 img {
  width: 272px;
}

.about_us h3 {
  font-size: 44px;
}
.about_us p {
  font-size: 16px;
  line-height: 26px;
}

/* ------------------MENU----------------------- */

.menu img {
  width: 151px;
}

#menu_items {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 39px 0 84px 0;
}

.menu h2 {
  text-align: center;
}

.items_list img {
  width: 100%;
  border-radius: 0 42px 0 0; /* 角を丸くする */
}

.items_list {
  display: flex;
  flex-direction: column;
}

.items_list h3 {
  font-size: 38px;
  font-weight: normal;
  color: #d30202;
  margin: -9px 0 9px 0.4em;
  /* line-height: 0.7em; */
}

.items_list p {
  font-weight: normal;
  letter-spacing: -0.05em;
  font-size: 17px;
  width: 300px;
}

/*-------------------GALLERY----------------------*/

.gallery h2 {
  width: 1000px;
  text-align: center;
  padding: 0 459px 0 453px;
  margin-bottom: 17px;
}

#gallery_logo {
  margin: auto;
}
.gallery_logo img {
  width: 245px;
}

.gallery_items {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  /* overflow-x: auto; */
}

/*-------------------EVENT-----------------------*/

.event {
  max-width: 1000px;
  padding: 0 459px 0 453px;
  text-align: center;
}

.event_items {
  border: 3px solid #4f260b;
  padding: 38px 167px 37px 157px;
  background-color: #fff;
  margin: 20px auto; /* 上下に余白、 中央揃え */
}

.event h2 {
  width: 174px;
  text-align: center;
}

.event_list li {
  display: flex;
  font-size: 23px;
  margin-bottom: 23px; /* 各項目の間隔 */
}

li:last-child {
  margin-bottom: 0; /* 最後の項目だけ間隔をなくす */
}

.date {
  padding-right: 47px; /*日付との間隔 */
}

.list-content {
  white-space: nowrap;
  /*letter-spacing: -0.1em; /* 文字間を狭める　メトリクスに対応 */
  border-bottom: 1px solid #4f260b;
  display: inline-block;
  padding-bottom: 2px;
}

/*-------------------ACCESS MAP-------------------*/

.access_map_items h2 {
  max-width: 1000px;
  padding: 0 459px 0 453px;
  text-align: center;
}

.access_map iframe {
  display: block;
  width: 100%;
  height: 470px;
}

.access_map img {
  width: 214px;
}

/*-------------------FOOTER----------------------*/

.footer {
  display: flex;
  background-color: #fff;
  height: 393px;
  font-size: 20px;
}

.footer_logo {
  max-width: 1000px;
  justify-content: flex-start;
}

.footer img {
  width: 227px;
  padding-top: 74px;
}

/*-------------------PAGE TOP----------------------*/

.page_top {
  width: 125px;
  position: fixed; /* 固定位置に */
  bottom: 230px; /* 下からの距離 */
  right: 309px; /* 右からの距離 */
  cursor: pointer;
}

/* -----------------★スマホ版メニュー---------------------*/
.sp_nav {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }

  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    top: 20px;
    left: 25px;
    z-index: 2; /*positionが指定されてるものに適用可能 数字は順位がつけられれば良い任意*/
  }

  .sp_btn span {
    /*親要素*/
    display: block;
    width: 33px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    /* 位置の調整 */
    position: relative;
    top: 10px;
    transition: 0.3s;
  }

  .sp_btn span::before, /*2つの子要素*/
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    /*位置の調整*/
    position: absolute;
    transition: 0.3s;
  }

  .sp_btn span::before {
    bottom: 10px;
  }

  .sp_btn span::after {
    top: 10px;
  }
}

.sp_btn.open span {
  background-color: transparent;
}

.sp_btn.open span::before {
  bottom: 0; /*指定した位置を真ん中に戻す*/
  transform: rotate(45deg);
}

.sp_btn.open span::after {
  top: 0; /*指定した位置を真ん中に戻す*/
  transform: rotate(-45deg); /*135もOK*/
}

.sp_nav {
  position: absolute; /*ここの指定で一層浮くから※注意*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /*最後のaはαで透過度80%*/
  z-index: 1; /*positionが指定されてるものに適用可能*/
}

.sp_nav ul {
  display: flex;
  flex-direction: column; /*縦並びに*/
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px; /*justify-contentなどの場合で使い、並び順の間隔を調節できるもの*/
}

.sp_nav ul li {
  color: #fff;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}
